<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <title>BuildIT</title>
    </head>
    <body>
      <div class="grid-container">
          <header class="row"> 
             <div>
                 <a href="index.html" class="brand">BuildIT</a>
             </div>
             <div>
                 <a href="cart.html">Cart</a>
                 <a href="signin.html">Sign in</a>
             </div>
          </header>
          <main>
              <div class="row center">
            <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/grey_basin_tap.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Grey Basin Mixter Tap</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">INR 800</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/kitchen_mixer.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>kitchen Mixter Tap</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-o"></i> </span>
                  </div>
                  <div class="price">INR 500</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/ceramic_washbasin.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Ceramic WashBasin</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">INR 2500</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/Baasin.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Basin </h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">INR 3500</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/car_parking tiles.jpg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Modren Car Parking tiles(1pc)</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                  </div>
                  <div class="price">INR 120</div>
                </div>
              </div>
              <div class="card">
                <a href="product.html">
                  <!-- image size: 680px by 830px -->
                  <img class="medium" src="./images/parking-tiles.jpeg" alt="product" />
                </a>
                <div class="card-body">
                  <a href="product.html">
                    <h2>Parking Tiles(1pc)</h2>
                  </a>
                  <div class="rating">
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star"></i> </span>
                    <span> <i class="fa fa-star-half-o"></i> </span>
                  </div>
                  <div class="price">INR 24</div>
                </div>
              </div>
            </div>
          </main>
          <footer class="row center">
               All rights reserved
          </footer>
      </div>
    </body>
</html>
